svg .app-council-area {
    fill: #2e6da4;
    stroke:#2e6da4;
    stroke-width: 1px;
}

svg .app-council-area:hover {
    stroke:#2e6da4;
    stroke-width: 2px;
}

/*
 * Globals
 */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
    background: url("../img/bg.png");
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

.btn:focus, .btn:active {
    outline: none !important;
}

#wrapper {
    padding-left: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    background-color: #FAFAFA;
    overflow: hidden;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    border-right: 5px solid #2e6da4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#content-wrapper {
    width: 100%;
    position: relative;
}

#wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    list-style: none;
    padding: 10px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav .form-group {
    margin-bottom: 30px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#menu-toggle {
    position: absolute;
    padding: 5px 7px 5px 5px;
    top: 15px;
    z-index: 99999;

    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#app-window-container {
    position: relative;
    width: 100%;
}

#app-window-container .window {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#app-window-container .window .header {
    position: absolute;
    width: 100%;
    padding: 10px 20px 0 40px;
}

#app-window-container .window .header .title {
    float: left;
}

#app-window-container .window .header .title input {
    width: 200px;
}

#app-window-container .window .header .actions {
    float: right;
}

#app-window-container .window:first-of-type {
    border-right: 2px solid #2e6da4;
}

#app-bring-back-window-buttons {
    position: absolute;
    left: 10px;
}